ul {
    list-style-type: none;
    margin: 0;
    margin-left: 5%;
    padding: 0;
}
a:link {
    color: #999999;
    text-decoration: none;
    font-family: "Inconsolata", sans-serif;
}
a:visited {
    color: #999999;
}
a:hover {
    color: #000000;
}
h1 {
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Inconsolata", serif;
    font-weight: bold;
    color: #483C32;
    font-size: 48px;
}
h2 {
    color: #000000;
    text-decoration: none;
    font-family: "Inconsolata", sans-serif;
    font-weight: normal;
    font-size: 30px;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
}
h3 {
    color: #000000;
    text-decoration: none;
    font-family: "Inconsolata", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
}
h4 {
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Inconsolata", serif;
    font-weight: normal;
    color: #483C32;
    font-size: 21px;
}
hr {
    border: 0;
    height: 1px;
    background: #EEEEEE;
    margin-left: 20%;
    margin-right: 20%;
}
img {
    float: left;
    margin-left: 20%;
    margin-right: 20%;
}
